<div class="buttons">
<%=link_to "JSON", '/ajaxforms.json',  class:"btn btn-info"%>
<br>
<br>
<br>
<%=link_to "XML", '/ajaxforms.xml', class:"btn btn-warning" %>
</div>
<br>
<br>
<h3><%=link_to "Add Details", new_ajaxform_path%></h3>